.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation-duration: 20s;
}

.App-header {
  @apply text-white flex flex-col items-center justify-center min-h-screen;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
