@import '../core/variables';
@import '../core/mixins';
@import '../core/reset';

.App--button {
  position: relative;
  display: inline-block;
  margin: 20px;
  font-size: $font-extra-large;
}

.App--button__inner {
  outline: none;
  color: $color-light;
  font-family: $font-primary;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: $color-dark;
  display: block;
  position: relative;
  padding: rem(20) rem(40);

  -webkit-box-shadow: inset 0 1px 0$color-light, 0 10px 0 $color-shadow;
  -moz-box-shadow: inset 0 1px 0 $color-light, 0 10px 0 $color-shadow;
  box-shadow: inset 0 1px 0$color-light, 0 10px 0 $color-shadow;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.App--button__inner:active {
  top: 10px;
  background-color: $color-button;
  -webkit-box-shadow: inset 0 1px 0$color-light, inset 0 -3px 0 $color-shadow;
  -moz-box-shadow: inset 0 1px 0 $color-light, inset 0 -3px 0 $color-shadow;
  box-shadow: inset 0 1px 0$color-light, inset 0 -3px 0 $color-shadow;
}
