@import '../core/variables';
@import '../core/mixins';
@import '../core/reset';

.App--filter {
  // border: rem(5) solid pink;
  z-index: 2;
  position: fixed;
  top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: -150px;

  .App--filter__option {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    border: rem(5) solid $color-dark;
    box-sizing: border-box;
    border-radius: 50px;
    width: rem(450);
    height: rem(70);
    margin: 12px;
    div {
      margin: 12px;
    }
  }

  .App--filter__option.controler {
    background-color: $color-logo;
    padding: 12px;
    font-size: 24px;
  }

  .App--filter__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
}

.App--filter__container.shown {
  .App--filter__option {
    background-color: $color-filter-open;
  }
}

.App--filter__container.hidden {
  transform: translateX(250px);
  .App--filter__option {
    background-color: $color-filter-close;
  }
}
  

/*.App--filter:not(:first-child) {
  transform: translateX(40px);
} */
